.p10 {
    padding: .625rem;
}
.p20 {
    padding: 1.25rem;
}
.pt-10 {
    padding-top: .625rem;
}
.pr-10 {
    padding-right: .625rem;
}
.pb-10 {
    padding-bottom: .625rem;
}
.pl-10 {
    padding-left: .625rem;
}
.pt-20 {
    padding-top: 1.25rem;
}
.pr-20 {
    padding-right: 1.25rem;
}
.pb-20 {
    padding-bottom: 1.25rem;
}
.pl-20 {
    padding-left: 1.25rem;
}